In [ ]:
Strings:
    String Handling Fuctions, Slicing, indexing, 
    String Methods
        Case conversion
            str.upper(), 
            str.lower(), 
            str.capitalize(), 
            str.title(), 
            str.swapcase(), 
            str.casefold()
        Search and check
            str.find(sub[, start[, end]]),
            str.rfind(sub[, start[, end]]), 
            str.index(sub[, start[, end]]),
            str.rindex(sub[, start[, end]]), 
            str.count(sub[, start[, end]])   
        Validation / Boolean checks
            str.isalnum(),
            str.isalpha(),
            str.isascii(),
            str.isdecimal(),
            str.isdigit(),
            str.isnumeric(),
            str.islower(),
            str.isupper(),
        Modification
            str.replace(old, new[, count]),
            str.strip([chars]),
            str.lstrip([chars]),
            str.rstrip([chars]),
        Splitting and joining
            str.split(sep=None, maxsplit=-1),
            str.rsplit(sep=None, maxsplit=-1),
            str.splitlines([keepends]),
            str.join(iterable)
Lists: 
    List as a Sequence, Traversing a list, List Operations, List Slices, 
    List Methods, Map, filter and Reduce, Deleting
    Elements, Lists and Strings, Objects and Values, Aliasing, List Arguments
Tuples:
    Tuple Assignment, Tuples as return values, Variable Length argument tuples, 
    Lists and Tuples, Dictionaries and
    Tuples, Comparing Tuples, Sequences of sequences
Dictionaries: 
    Dictionary as a set of counters,
    Looping and Dictionaries, Reverse Look Up, Dictionaries and Lists
Set

In [ ]:
name  = "baburam shrestha"
print(name)
print(type(name))
print(name.upper() )  # Convert to uppercase
print(name.lower() )  # Convert to lowercase
print(name.capitalize() )  # Capitalize first letter
print(name.title() )  # Convert to title case

baburam shrestha
<class 'str'>

In [ ]:
name = "Baburam122"
print(name)
print(type(name))
name.isalnum()
age=  "10"
age.isdigit()
name = "BABURAM"
name.isascii()
name.isupper()

Baburam122
<class 'str'>

In [52]:
name = "    baburam         shrestha     "
# print(name)
# print(name.rstrip())  # Remove trailing whitespace
# print(name.lstrip())  # Remove leading whitespace
# print(name.strip())  # Remove leading and trailing whitespace
name = name.strip()
" ".join(name.split())  # Remove extra spaces between words
"|||".join(name.split())  # Remove extra spaces between words

'baburam|||shrestha'

In [ ]:
name= "baburaZ"
name = name.replace("Z","m") # replace Z with m in name
name

'baburam'

In [ ]:
name = "BABURAMSHRESTHA"
len(name) # length of the string
name.find("R") # find the index of R in name, indexing starts from 0
name.find("Z")# if not found returns -1
count=0
for char in name:
    if char.upper() == 'A':
        count += 1
count #  number of A's in name
# indexing
name[0]  # First character
name[-1] # Last character
name[4] # Fifth character (index starts from 0)
#slicing
name[0:7]  # Character from index 0 to 6,first index included, last index is excluded
name[:-1] # All characters except the last one
name[-3:-1] # Character from -3rd position to -2nd position
name[::-1] # string reverse

'BABURAMSHRESTHA'

In [ ]:
List: collection of items which is ordered and changeable. Allows duplicate members.

In [ ]:
my_list = [1, 2, 3, 4, "Baburam", 9874333333, 3.4443, 1, 2, "Baburam"]
print(my_list)
len(my_list)
# indexing and #slicing is your task

numbers.append(60)  # Add 60 at the end
numbers
numbers.insert(0, 25)  # Insert 25 at index 0
numbers
numbers.extend([70, 80, 90])  # Extend list by adding multiple elements
numbers
num2 =[100,200,300]

numbers.extend(num2)  # Extend list by adding multiple elements from num2   
numbers
num2 =[1000,2000,3000]
numbers.append(num2) # Add num2 as a single element at the end
numbers

[1, 2, 3, 4, 'Baburam', 9874333333, 3.4443, 1, 2, 'Baburam']

In [ ]:
numbers = [10, 20, 30, 40, 50, [100, 200]]
for num in numbers: # access each element in numbers
    print(num)
    print(type(num))
    
numbers = [10, 20, 30, 40, 50, [100, 200], "assfduadd"]
for num in numbers:
    if isinstance(num, int):
        print(num ** 2)

nums = [25, 160, 20, 30, 460, 50, 60, 760, 80, 90]
nums.sort()  # Sort the list in ascending order
nums
nums = [25, 160, 20, 30, 460, 50, 60, 760, 80, 90]
nums.sort(reverse=True)  # Sort the list in ascending order
nums

10
<class 'int'>
20
<class 'int'>
30
<class 'int'>
40
<class 'int'>
50
<class 'int'>
[100, 200]
<class 'list'>

In [ ]:
nums = [10, 20, 30, 40, 50]
sq_nums = []
for num in nums:
    sq_nums.append(num ** 2)
sq_nums

#list comprehension
nums = [10, 20, 30, 40, 50]
sq_nums = [num ** 2 for num in nums]  # List comprehension to get squares of numbers
sq_nums

#list comprehension
nums = [10, 20, 30, 40, 50,45 , 99]
sq_nums = [num ** 2 for num in nums if num%2==1]  # List comprehension to get squares of numbers
sq_nums

[100, 400, 900, 1600, 2500]

In [ ]:
name = "baburam shrestha"
print(type(name)) # print the type of varirable(name)
print(name) # print the value of variable (name)

<class 'str'>
baburam shrestha

In [4]:
str_to_list = name.split(" ")
print(type(str_to_list)) # print the type of varirable(name)
print(str_to_list) # print the value of variable (name)

<class 'list'>
['baburam', 'shrestha']

In [6]:
text = 'To search on Google, open a web browser, go to google.com, type your search query into the text box, ' \
'and then click the search button or press Enter. You can also use a mobile app, the address bar of a browser like Chrome, ' \
'or the dedicated "Google Search" mobile app for more specialized features. '
text_list = text.split(". ")
print(type(text_list)) # print the type of varirable(name)
print(text_list) # print the value of variable (name)

<class 'list'>
['To search on Google, open a web browser, go to google.com, type your search query into the text box, and then click the search button or press Enter', 'You can also use a mobile app, the address bar of a browser like Chrome, or the dedicated "Google Search" mobile app for more specialized features', '']

In [3]:
names = ["baburam shrestha", "ram shrestha", "shyam shrestha"]
print(type(names)) # print the type of varirable(name)
print(names) # print the value of variable (name)

<class 'list'>
['baburam shrestha', 'ram shrestha', 'shyam shrestha']

In [17]:
names.index("shyam shrestha")

2

In [7]:
my_list = [1, 2, 3, 4, 5]
print(type(my_list))
print(my_list)

<class 'list'>
[1, 2, 3, 4, 5]

In [8]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [15]:
# Tuples: immutable (unchangeable) ordered collection of items that allows duplicate members.
# Tuples are defined using parentheses ().
# Example of a tuple
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,10)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [16]:
my_tuple.index(5)

4

In [ ]:
Indexing and Slicing in Tuples, List, and String are same.

In [18]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,10) # Example of a tuple
my_list = [1, 2, 3, 4, 5,6,7,8,9,10] # Example of a list
print(type(my_tuple))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [25]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,10) # Example of a tuple
print(type(my_tuple))
print(my_tuple)
list_from_tuple = list(my_tuple) # Convert tuple to list
print(type(list_from_tuple))
list_from_tuple.append(11)  # Adding an element to the list converted from tuple
list_from_tuple.extend([12,13,14])  # Adding multiple elements to the list converted from tuple
list_from_tuple.remove(3)  # Removing an element from the list converted from tuple
# list_from_tuple.remove(100)  # Trying to remove an element not in the list will raise an error
list_from_tuple.pop()  # Removing the last element from the list converted from tuple
list_from_tuple.pop(0)  # Removing the element at index 0 from the list converted from tuple

print(list_from_tuple)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'list'>
[2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [27]:
my_list = [1, 2, 3, 4, 5,6,7,8,9,10] # Example of a list
print(type(my_list))
print(my_list)
tuple_from_list = tuple(my_list) # Convert list to tuple
print(type(tuple_from_list))
print(tuple_from_list)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
Dictionary: 
    Key and Value pairs, unordered, changeable, indexed. 
    No duplicate keys allowed.

In [ ]:

# Example of a dictionary
# dict_name = {key1: value1, key2: value2, key3: value3}
my_dict = {
    "name": "baburam shrestha",
    "age": 30,
    "city": "abu dhabi",
}
print(type(my_dict))
print(my_dict)

<class 'dict'>
{'name': 'baburam shrestha', 'age': 30, 'city': 'abu dhabi'}

In [30]:
len(my_dict)

3

In [33]:
my_dict["age"]

30

In [ ]:
for key in my_dict:
    print(f"Key: {key}, Value: {my_dict[key]}")

Key: name, Value: baburam shrestha
Key: age, Value: 30
Key: city, Value: abu dhabi

In [35]:
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: baburam shrestha
Key: age, Value: 30
Key: city, Value: abu dhabi

In [36]:
my_dict["phone"]= 9874333333
my_dict

{'name': 'baburam shrestha',
 'age': 30,
 'city': 'abu dhabi',
 'phone': 9874333333}

In [38]:
my_dict["email"], my_dict["address"]= "email@g.com", "ktm"
my_dict

{'name': 'baburam shrestha',
 'age': 30,
 'city': 'abu dhabi',
 'phone': 9874333333,
 ('email', 'address'): ('email@g.com', 'ktm'),
 'email': 'email@g.com',
 'address': 'ktm'}

In [39]:
keys = ["name", "age", "city", "phone", "email", "address"]
values = ["baburam shrestha", 30, "abu dhabi", 9874333333, "afasf@fa.c", "ktms"]
print(type(keys))
print(type(values))

<class 'list'>
<class 'list'>

In [44]:
my_dictss={}
print(type(my_dictss))
print(my_dictss)
for key, value in zip(keys, values):
    my_dictss[key]=value

print(type(my_dictss))
print(my_dictss)

<class 'dict'>
{}
<class 'dict'>
{'name': 'baburam shrestha', 'age': 30, 'city': 'abu dhabi', 'phone': 9874333333, 'email': 'afasf@fa.c', 'address': 'ktms'}

In [41]:
len(keys)

6

In [42]:

len(values)

6

In [70]:
my_list= [1, 2, 3, 4, "Baburam", 9874333333, 3.4443, 1, 2, "Baburam"]
print(type(my_list))
print(my_list)

<class 'list'>
[1, 2, 3, 4, 'Baburam', 9874333333, 3.4443, 1, 2, 'Baburam']

In [71]:
set_from_list = set(my_list)
print(type(set_from_list))
print(set_from_list)

<class 'set'>
{1, 2, 3, 4, 3.4443, 'Baburam', 9874333333}

In [69]:
my_set = {5, 6, 7, 8, 9, 10,1,2,3,1, 2, 3, 4, 5,"asdjasd","vassd"}
print(type(my_set))
print(my_set)

<class 'set'>
{'asdjasd', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'vassd'}

In [53]:
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

string, list, tuple, dictionary

In [ ]:
my_list = [1, 2, 3, 4, "Baburam", 9874333333, 3.4443, 1, 2, "Baburam"] # list of strings and numbers
my_list2 = [1,2,4]# list of integers/numbers
myu_list = ['a','b','v'] # list of characters
myuu_list = ['aasd','basda','asdasd'] # list of strings

In [ ]:
tup1 = (1, 2, 3)
tup2= (4, 5, 6)
tup3=("asfasd","adasda")
my_list = tup1, tup2, tup3] # list of tuples
print(type(my_list))
print(my_list)

<class 'list'>
[(1, 2, 3), (4, 5, 6), ('asfasd', 'adasda')]

In [73]:
type(my_list[1])

tuple

In [74]:
tup1 = (1, 2, 3)
tup2= (4, 5, 6)
tup3=("asfasd","adasda")
my_list = (tup1, tup2, tup3) # tuple of tuples
print(type(my_list))
print(my_list)

<class 'tuple'>
((1, 2, 3), (4, 5, 6), ('asfasd', 'adasda'))

In [75]:
my_dict["tup1"]=tup1
my_dict["tup2"]=tup2
my_dict["tup3"]=tup3
print(type(my_dict))
print(my_dict)

<class 'dict'>
{'name': 'baburam shrestha', 'age': 30, 'city': 'abu dhabi', 'phone': 9874333333, ('email', 'address'): ('email@g.com', 'ktm'), 'email': 'email@g.com', 'address': 'ktm', 'tup1': (1, 2, 3), 'tup2': (4, 5, 6), 'tup3': ('asfasd', 'adasda')}

In [76]:
dict1 = {
    "name": "baburam",
    "surname": "shrestha"
}
dict2 = {
    1:100,
    2:200
}
dict3={
    "phone":9874333333,
    "email":"assdasd#2fsse"
}
dict_of_dicts = {
    "personal_info": dict1,
    "numbers": dict2,
    "contact_info": dict3
}
print(type(dict_of_dicts))  
print(dict_of_dicts)

<class 'dict'>
{'personal_info': {'name': 'baburam', 'surname': 'shrestha'}, 'numbers': {1: 100, 2: 200}, 'contact_info': {'phone': 9874333333, 'email': 'assdasd#2fsse'}}

In [77]:
print(type(dict_of_dicts["personal_info"]))

<class 'dict'>